<div class="list-group">

    <div class="list-group-item">
        <strong class="list-group-item-heading">
            {{ trans('module::stream.roles.name') }}
        </strong>
    </div>

    {% for role in users_roles() %}

        {% if role.slug == 'admin' %}

            <span class="list-group-item disabled">
                {{ role.name }}
            </span>

        {% else %}

            <a href="{{ url('admin/users/permissions/' ~ role.id) }}"
               class="list-group-item {{ role.id == request_segment(4) ? 'active' }}">
                {{ role.name }}
            </a>

        {% endif %}

    {% endfor %}

</div>