{% extends "theme::layouts/login" %}

{% block content %}

    <div class="ui active inverted dimmer">
        <div class="ui text loader">Loading</div>
    </div>

    <div class="ui one column stackable center aligned grid">
        <div class="column five wide">

            <div class="ui segment basic">
                {{ form_open({'method': 'post', 'class': 'ui form'}) }}

                <h1 class="ui header">
                    {{ image("theme::img/icon-dark.png").width(64)|raw }}
                </h1>

                <br>

                <div class="field">
                    {{ form_email("email", null, {'class': 'form-control', 'placeholder': 'Email'}) }}
                </div>

                <div class="field">
                    {{ form_password('password', {'class': 'form-control', 'placeholder': 'Password'}) }}
                </div>

                <div class="field remember">
                    <div class="ui toggle checkbox">
                        {{ form_checkbox("remember", null, false, {'id': 'remember'}) }}
                        <label>{{ trans('anomaly.module.users::admin.remember_me') }}</label>
                    </div>
                </div>

                <div class="field">
                    <button type="submit" value="Login" class="ui button fluid black" onclick="$('.ui.dimmer').addClass('active');">
                        {{ trans('anomaly.module.users::button.login') }}
                    </button>
                </div>

                {{ form_close() }}
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('form').on('submit', function () {
                $(this).closest('section').removeClass('fadeInUp').addClass('fadeOutUp');
            });
        });
    </script>

{% endblock %}
