<label>{{ trans('module::admin.edit_permissions_for') }}:</label>

<select class="select2 form-control"
        onchange="window.location = '{{ url_to('admin/users/permissions') }}/'+this.value;">
    {% for role in roles %}

        {% if role.slug != 'admin' %}

            <option value="{{ role.id }}" {{ role.id == request_segment(4) ? 'selected' }}>
                {{ role.name }}
            </option>

        {% endif %}

    {% endfor %}
</select>
